@import "tailwindcss";

body {
  background-color: #1a1d21;
  color: white;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(75 85 99);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(107 114 128);
}
